root = true

[*.{cs,csx}]

# Encoding
charset = utf-8-bom

# Indentation and spacing
indent_style = space
indent_size = 4
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_after_cast=true

# New line preferences
end_of_line = crlf
insert_final_newline = true

# Organize usings
csharp_using_directive_placement = outside_namespace:suggestion
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false

# Namespaces
csharp_style_namespace_declarations=file_scoped:silent
